<h1 class="text-center">Bienvenido a Mi Tienda</h1>
<div class="text-center">
  <p><a href="/profile">Tu perfil</a></p>
  <p><a href="/products">Ver productos</a></p>
  <p><a href="/cart">Ir al carrito</a></p>
</div>

